html {
	height:100%;
}

body {
	width:100%;
	height:100%;
	margin:0;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-image:-ms-linear-gradient(top,#445161 0%,#21282F 100%);
	background-image:-moz-linear-gradient(top,#445161 0%,#21282F 100%);
	background-image:-o-linear-gradient(top,#445161 0%,#21282F 100%);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#445161),color-stop(1,#21282F));
	background-image:-webkit-linear-gradient(top,#445161 0%,#21282F 100%);
	background-image:linear-gradient(to bottom,#445161 0%,#21282F 100%);
/* background: #21282F; */
}

#wrap {
	pointer-events:none;
	width:100%;
	height:100%;
}

.pulse {
	-webkit-transition:-webkit-transform translate3d(0,0,0);
	-moz-transition:-moz-transform translate3d(0,0,0);
	-o-transition:-o-transform translate3d(0,0,0);
	transition:transform translate3d(0,0,0);
	position:absolute;
	margin-left:95px;
	margin-top:47px;
	top:14px;
	display:block;
	width:120px;
	height:120px;
	z-index:-1;
	padding-bottom:4px;
	border:none;
	box-shadow:0 0 0 0 rgba(255,255,255,0.7);
	border-radius:100%;
	cursor:pointer;
	-webkit-animation:pulsed 2.3s infinite cubic-bezier(0.36,0,0,1);
	-moz-animation:pulsed 2.3s infinite cubic-bezier(0.36,0,0,1);
	animation:pulsed 2.3s infinite cubic-bezier(0.36,0,0,1);
	-webkit-animation-delay:.5s;
/* Chrome, Safari, Opera */
	animation-delay:.5s;
}

@-webkit-keyframes pulsed {
	to {
		box-shadow:0 0 0 35px rgba(255,255,255,0);
	}
}

#logo {
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	text-align:center;
	width:310px;
	cursor: pointer;
}

#logo img {
	width:250px;
}

#tagline {
	font-family:'Source Sans Pro',sans-serif;
	font-weight:lighter;
	font-size:30px;
	text-align:center;
	margin-top:60px;
	height: 40px;
}

.teal-gradient-text {
	color:#4fe0ff;
	background:-webkit-linear-gradient(left,#31EBD5,#4fe0ff);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}

#loginPanel {
	width:100%;
	height:290px;
	overflow:hidden;
	margin-top:30px;
	position:relative;
	padding-bottom:60px; /*height of footer*/
}

#loginPanel:after {
	position:absolute;
	content:"";
	opacity:.5;
	top:0;
	left:0;
	bottom:0;
	right:0;
	z-index:-1;
	background:url(../res/images/banner.png) no-repeat;
	background-size:100% 100%;
	opacity:.4;
	transition-property:all;
	transition-duration:2s;
	transition-delay:0;
}


#loginPanel:hover #loginPanel:after {
	opacity:1;
}

#card {
	margin:40px auto;
	width:320px;
	height:260px;
	border-radius:7px;
/* Rectangle 12: */
	background:#43BA99;
	-moz-box-shadow:3px 2px 9px 0 rgba(0,0,0,0.73);
	box-shadow:3px 2px 9px 0 rgba(0,0,0,0.73);
}
.formSubmitButton{
	margin:10px auto;
	display:block;
	padding:0;
	border-radius:4px;
	height:50px;
	width:120px;
	background: #43BA99;
	-moz-box-shadow:2px 2px 0 0 rgba(86,86,86,0.73);
	box-shadow:2px 2px 0 0 rgba(86,86,86,0.73);
	color:#ffffff;
	cursor: pointer;
	font-weight: 600;
	font-size: 18px;
	border:3px solid white;
	margin-bottom: 80px;
}
.formSubmitButton:hover{
	background:#25f885;
}	
#signupMessage{
	text-align: center;
	font-family:'Source Sans Pro',sans-serif;
	color:#ffffff;
	font-size: 16px;
}
#backIndex{
	text-align: center;
	font-family:'Source Sans Pro',sans-serif;
	color:#ffffff;
	font-size: 22px;
	display: none;
}
#backIndex a{
	color:#2ee057;
	font-size: 24px;
}
#backIndex a:hover{
	color:#00ff78;
	font-size: 24px;
}
#formCon {
	width:100%;
	margin:0 auto;
	font-family:'Source Sans Pro',sans-serif;
	color:#fff;
	padding-top:20px;
}

#formCon h1 {
	font-size:30px;
	margin-left:44px;
}

#formCon form .loginTextField {
	margin:5px auto;
	display:block;
	padding:0;
	border:none;
	padding:0 14px;
	height:40px;
	width:200px;
	font-size:13px;
}

#formCon form .loginTextField:focus {
	outline:4px solid #D8D8D8;
}

#formCon span {
	color:#cd6767;
	font-size:12px;
	margin-left:44px;
}

#formCon form .loginButton {
	margin:10px auto;
	display:block;
	padding:0;
	border:none;
	border-radius:4px;
	height:30px;
	width:100px;
/* Rectangle 13: */
	background:#484848;
	-moz-box-shadow:2px 2px 0 0 rgba(86,86,86,0.73);
	box-shadow:2px 2px 0 0 rgba(86,86,86,0.73);
	color:#fff;
}

#formCon form .loginButton:hover {
	background:#000;
}

#formCon a {
	text-decoration:none;
	color:#424242;
	font-size:12px;
}

#formCon a:hover {
	color:#fff;
}

#forgot-signup {
	margin-top:20px;
	margin-left:58px;
	position:relative;
	width:100%;
}

#accountinfo{
	width:730px;
	height:300px;
	margin-top: 10px;
	margin: 20px auto;
	font-family:'Source Sans Pro',sans-serif;
/* 	background-color: grey; */
}
#formTitle label{
	color: white;
	font-weight:900;
	letter-spacing: 1px;
}
#formTitle #sub{
	color: #cecece;
	font-weight:400;
}
#formTitle {
	float:left;
	width:90px;
}

#form{
	float:left;
	border-left: 3px solid #c8c8c8;
	background-color: #43BA99;
	padding: 32px 10px 10px 35px;
	width:510px;
	margin-left: 30px;
	margin-bottom: 30px;
	
}
.textboxLabel{
	padding-top: 5px;
	display: inline-block;
	vertical-align: middle;
    float: left;
    clear: left;
    width: 100px;
	color: #3a3a3a;
}

.textboxError{
	padding-top: 5px;
	display: inline-block;
	vertical-align: middle;
    float: right;
    clear: right;
	color: #e12020;
	font-size: 13px;
}
.textbox {
	margin-bottom: 15px;
	display:inline-block;
	padding:0;
	border:none;
	padding:0 14px;
	height:30px;
	width:190px;
	font-size:13px;
}

form .textbox:focus {
	outline:4px solid #D8D8D8;
}
#form .error{
	color:#df3333;
	font-size: 13px;
	padding-left: 4px;
}
#footer {
	font-family:'Source Sans Pro',sans-serif;
	font-weight:lighter;
	font-size:12px;
	text-align:center;
	width:100%;
	height:60px;
	bottom:0;
	left:0;
	color:#a1a1a1;
	margin-top: 100px;
}

.center{
	text-align: center;
}

#footer ul{
	margin-top: 10px;
}
#footer li{
	display: inline;
	margin-right: 10px;
}
#footer li a:hover{
	color:#e5e5e5;
}

.indent{
	margin: 20px 0px 0px 20px;
}

@media screen and (max-width: 400px) {
	
}

@media screen and (min-width: 401px) and (max-width: 700px {
	
}

@media screen and (min-width: 701px) and (max-width: 999px {
	
}

@media screen and (min-width: 1000px) and (max-width: 1920px) {
	
}

@media screen and (min-width: 1921px) {
	
}