/*
MINIBIZI - Web Application for small business owners
CSCI 3230U Final Project
DEC 3, 2014 11:59pm
Mark Reventar 100 429 397
Arnold Cheng

	home.css
		Stylesheet for home.php,employees.php,income.php,profile.php
*/
#wrapper {
	width:100%;
	height:100%;
	min-width:1150px;
}

#sidebar {
	width:260px;
	height:920px;
	min-height:700px;
	float:left;
	position:absolute;
	background:#282F37;
	-moz-box-shadow:4px 0 4px 0 rgba(0,0,0,0.50);
	box-shadow:4px 0 4px 0 rgba(0,0,0,0.50);
	z-index:1;
}

.sidebarSection {
	width:100%;
	padding:15px 0;
	border-bottom:1px solid rgba(151,151,151,0.63);
}

.sidebarSection .static {
	height:140px;
}

.sidebarInner {
	margin:0 14px;
	font-family:'Source Sans Pro',sans-serif;
	font-weight:400;
	color:#fff;
	font-size:12px;
	line-height:13px;
}

#sectiontitle {
	font-weight:600;
	font-size:13px;
	color:#728292;
	line-height:15px;
	letter-spacing:0;
}

.sidebarInner ul li {
	margin-bottom:18px;
	height:auto;
}

.blueBG {
	background:#31C4E9;
}

.greenBG {
	background:#47E48F;
}

.redBG {
	background:#F07259;
}



.infoValue {
	margin-top:-3px;
	line-height:20px;
	text-align:center;
	float:right;
	border-radius:10px;
	height:20px;
	width:130px;
	color:#000;
	font-size:13px;
}

.infoValue2 {
	float:right;
	width:130px;
	font-size:13px;
	line-height:15px;
}

.statusIndicator {
	margin-top:-3px;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	float:right;
	width:50px;
	height:20px;
	line-height:20px;
	text-align:center;
}

.statusSwitch {
	margin-top:-3px;
	float:right;
	width:40px;
	height:20px;
	line-height:20px;
	text-align:center;
	background:#41464E;
}

#stockChart {
	width:100%;
	height:100%;
	border:3px solid #31C4E9;
	border-radius:2px;
}

#main {
	margin-left:260px;
	height:200px;
}

#header {
	display:block;
	position:relative;
	float:left;
	height:70px;
	width:100%;
	background:#000;
}

#content {
	display:block;
	position:relative;
	float:left;
	height:800px;
	width:100%;
	background:#3B444E;
}

#headerLogo {
	background:url(../res/images/logo-small@2x.png) no-repeat;
	background-size:100% 100%;
	float:left;
	width:100px;
	height:50px;
	margin:10px 0 0 15px;
}

#nav {
	float:left;
	margin-top:27px;
}

#nav ul {
	list-style-type:none;
	margin:0;
	padding:0;
	font-family:'Source Sans Pro',sans-serif;
	font-weight:900;
	color:#fff;
}

#nav ul li {
	display:inline;
	margin-left:40px;
	-webkit-:.1s color linear;
	-moz-:.1s color linear;
	-ms-:.1s color linear;
	-o-:.1s color linear;
	transition:.1s color linear;
}

#nav ul li:hover {
	color:#4fe0ff;
}
.currPage{
	color:#4fe0ff;
}

#user {
	float:right;
}

#name {
	font-family:'Source Sans Pro',sans-serif;
	font-weight:300;
	color:#fff;
	float:left;
	line-height:70px;
	margin-right:10px;
	cursor:pointer;
}

#profilepic {
	background:url(../res/images/bill.jpg) no-repeat;
	background-size:100% 100%;
	width:50px;
	height:50px;
	border-radius:50%;
	margin:9px 10px 0 0;
	float:left;
	cursor:pointer;
}

#userOptions {
	display:none;
	width:152px;
	height:152px;
	background-color:#fff;
	position:absolute;
	margin-top:60px;
	margin-left:-45px;
	z-index:1;
	border:2px solid #7f7f7f;
	border-radius:3px;
	font-family:'Source Sans Pro',sans-serif;
	font-weight:300;
	font-size:12px;
	color:#7d7d7d;
	padding-top:2px;
	-moz-box-shadow:4px 0 4px 0 rgba(0,0,0,0.50);
	box-shadow:4px 0 4px 0 rgba(0,0,0,0.50);
}

#userOptions ul li {
	margin-bottom:9px;
}

#userOptions ul li:last-child {
	margin-bottom:0;
}

#userOptions .section {
	margin:10px auto;
	padding-bottom:10px;
	padding-top:2px;
	width:80%;
	border-bottom:1px solid #eaeaea;
}

#userOptions .section-lastchild {
	font-size:14px;
	margin:20px auto;
	padding-bottom:6px;
	width:80%;
}

#userOptions a {
	-webkit-:.1s color linear;
	-moz-:.1s color linear;
	-ms-:.1s color linear;
	-o-:.1s color linear;
	transition:.1s color linear;
}

#userOptions a:hover {
	color:#161616;
}

.ovalImage {
	width:90px;
	height:90px;
	background:url(../res/images/defaultBusiness.png) no-repeat;
	background-size:100% 100%;
	background-color:#fff;
	border-radius:50%;
	margin:10px auto;
}

#sidebar h1 {
	font-family:'Source Sans Pro',sans-serif;
	font-weight:500;
	font-size: 20px;
	color:#fff;
}

#sidebar h2 {
	margin-top:5px;
	font-family:'Source Sans Pro',sans-serif;
	font-weight:300;
	color:#fff;
}

#graphCon {
	width:100%;
	height:50%;
}

#graphSettings{
	width: 100%;
	height: 65px;
}

#newEntryButton {
	vertical-align: middle;
	width:45px;
	height: 45px;
	cursor: pointer;
	background: url(../res/images/addButton.png) no-repeat;
	background-size: 100% 100%;
	border: none;
}
#newEntryButton:hover {
	background: url(../res/images/addButton-hover.png) no-repeat;
	background-size: 100% 100%;
}
.addDaily{
	margin: 8px 0px 0px 24px;
	font-family:'Source Sans Pro',sans-serif;
	font-weight:400;
	font-size: 21px;
	color: #FFFFFF;
	height: 40px;
}
.entrySelector{
	margin: 0px auto;
	width:410px;
	height: 36px;
	z-index: 2;
}
.addDaily2{
	/* margin: 20px 0px 0px 120px; */
	font-size: 13px;
	color: #6F7E91;
	font-family:'Source Sans Pro',sans-serif;
	font-weight:400;
	font-size: 14px;
	float: left;
}
.loadEntryButton{
	margin: -3px 0px 0px 12px;
	font-family:'Source Sans Pro',sans-serif;
	font-weight:400;
	font-size: 16px;
	color: #FFFFFF;
	float: left;
	border-radius: 50%;
	width:37px;
	height: 37px;
	background:#47E48F; 
	text-align: center;
	line-height: 34px;
	cursor: pointer;
	border: none;
}
.loadEntryButton:hover{
	background:#19FF83; 
}
.loadEntryButton:active{
	background:#00ff78; 
}
#chart-div{
	margin: 0px auto;
	width: 900px;
	height: 300px;
}
select.custom-dropdown {
 -webkit-appearance: none;
 -moz-appearance: none;
 color: #fff;
 -webkit-border-radius: 22px;
 border-radius: 22px;
 font-size: 12px;
 padding: 6px 6px 6px 18px;
 width: 135px;
 height: 32px;
 cursor: pointer;
 border: 2px solid #707F92;
 background: url('../res/images/dropdown-arrow.png') no-repeat;
 background-size: 15px 8px;
 background-position: 103px 12px;
}

select.custom-dropdownSmall {
 -webkit-appearance: none;
 -moz-appearance: none;
 color: #fff;
 -webkit-border-radius: 22px;
 border-radius: 22px;
 font-size: 12px;
 padding: 6px 6px 6px 18px;
 width: 110px;
 height: 32px;
 cursor: pointer;
 border: 2px solid #707F92;
 background: url('../res/images/dropdown-arrow.png') no-repeat;
 background-size: 15px 8px;
 background-position: 76px 12px;
}
option{
	background-color: #4e4e4e;
}
#DailyEntryPopup{
	display:none;
}
.dim{
	height:100%;
    width:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:3 !important;
	background: rgba(5,5,5,0.74);
  /*
  background-color:black;
    filter: alpha(opacity=75); 
    -khtml-opacity: 0.75;            
    -moz-opacity: 0.75;     
    opacity: 0.75;      
*/

}
#closePopup{
	width:32px;
	height: 32px;
	background: url('../res/images/close.png') no-repeat;
	background-size:100% 100%;
	border: none;
	margin-top: 10px;
	cursor: pointer;
}
#closePopup:hover{
	background: url('../res/images/close-hover.png') no-repeat;
	background-size:100% 100%;
}
.popupCard{
	width:420px;
	height:400px;
	left:0;
    right:0;
    margin-top: 70px;
    margin-left:auto;
    margin-right:auto;
	background-color: white;
	border-radius: 10px;
	z-index: 4;
	position: absolute;
	display: block;
	font-family:'Source Sans Pro',sans-serif;
	border: 8px solid #47E48F;
	padding: 0px 15px 0px 15px;
}

.popupCard h1{
	margin: 15px;
	font-weight:400;
	font-size: 24px;
	text-align: center;
}
#popupCardMessage{
	margin: 15px;
	font-weight:300;
	font-size: 15px;
	text-align: center;
}
.deTextbox {
	margin-bottom: 15px;
	display:inline-block;
	padding:0;
	border:none;
	padding:0 14px;
	height:23px;
	width:100px;
	font-size:13px;
	border:4px solid #D8D8D8;
	text-align: center;
	margin-left: 20px;
}

#newEntryForm .deLabel{
	padding-top: 5px;
	display: inline-block;
	vertical-align: middle;
    float: left;
    clear: left;
    width: 130px;
	color: #3a3a3a;
}
.deSubmit{
	margin:10px auto;
	display:block;
	padding:0;
	border:none;
	border-radius:4px;
	height:30px;
	width:100px;
/* Rectangle 13: */
	background: #25f885;
	-moz-box-shadow:2px 2px 0 0 rgba(86,86,86,0.73);
	box-shadow:2px 2px 0 0 rgba(86,86,86,0.73);
	color:#000000;
	cursor: pointer;
	font-weight: 400;
}
.deSubmit:hover {
	background:#47E48F;
}

.greyCell{
	width:100%;
	height:50px;
	background:#f4f4f4;
	margin-bottom: 10px;
	padding: 4px 0px 0px 6px;
}
.greyCell label{
	float:left;
	margin-top: 10px;
}
.short{
	width:50px;
}

g>g>path[fill="#ffffff"] {
  fill:black;
}


#tableCon {
	background:#fff;
	min-width:880px;
	height:400px;
}

/* thead, tbody, tr, td, th { display: block; } */
#entryTable {
	width:100%;
	background: white;
}

#entryTable tr:nth-of-type(even) {
	background-color:#F6F6F6;
}

#entryTable thead{
	border-top: 2px solid #c7c7c7;
	border-bottom: 2px solid #949494;
	height: 40px;
	position:relative;
	display:block;
}
#entryTable tbody{
	overflow:auto;
	display:block;
	height:400px;
}

#entryTable tr {
	height:40px;
}

#entryTable td {
	font-family:'Source Sans Pro',sans-serif;
	vertical-align:middle;
	text-align:center;
	color:#787878;
	font-size: 12px;
}

#entryTable th {
	vertical-align:middle;
	font-family:'Source Sans Pro',sans-serif;
	font-weight:400;
	font-size:13px;
	letter-spacing: 1px;
	color:#949494;
}

#entryTable th:nth-child(1) {
	width:110px;
}
#entryTable td:nth-child(1) {
	width:110px;
}
#entryTable th:nth-child(2) {
	width:110px;
}
#entryTable td:nth-child(2) {
	width:110px;
}
#entryTable th:nth-child(3) {
	width:110px;
}
#entryTable td:nth-child(3) {
	width:110px;
}
#entryTable th:nth-child(4) {
	width:110px;
}
#entryTable td:nth-child(4) {
	width:110px;
}
#entryTable th:nth-child(5) {
	width:110px;
}
#entryTable td:nth-child(5) {
	width:110px;
}
#entryTable th:nth-child(6) {
	width:110px;
}
#entryTable td:nth-child(6) {
	width:110px;
}
#entryTable th:nth-child(7) {
	width:110px;
}
#entryTable td:nth-child(7) {
	width:110px;
}
#entryTable th:nth-child(8) {
	width:110px;
}
#entryTable td:nth-child(8) {
	width:110px;
}

.black{
	color: black;
}
.targetOval{
	margin-top:0px;
	line-height:23px;
	text-align:center;
	border-radius:10px;
	height:23px;
	width:85px;
	color:#ffffff;
	font-size:13px;
	margin: 0 auto;
}

.whiteLabel{
	font-family:'Source Sans Pro',sans-serif;
	color: white;
	font-weight: 400;
	font-weight: 18px;
}

.whiteLabel2{
	font-family:'Source Sans Pro',sans-serif;
	color: white;
	font-weight: 400;
	font-weight: 18px;
	font-size: 20px;
	margin-bottom: 20px;
}

#userProfile{
	height: 400px;
	margin: 20px 0px 0px 50px;
}
.avatar{
	background:url(../res/images/bill.jpg) no-repeat;
	background-size:100% 100%;
	width:100px;
	height:100px;
	border-radius:50%;
	float: left;
}
.pInfo{
	float:left;
	width:400px;
	margin: 20px 0px 50px 15px;
}
#pUsername{
	font-family:'Source Sans Pro',sans-serif;
	color: white;
	font-weight: 400;
	font-weight: 18px;
	font-size: 30px;
	line-height: 50px;
}

#pFullname{
	font-family:'Source Sans Pro',sans-serif;
	color: white;
	font-weight: 200;
	font-size: 20px;
}
#pEmail{
	font-family:'Source Sans Pro',sans-serif;
	color: #c7c7c7;
	font-weight: 400;
	font-size: 18px;
}
#changePass{
	clear: both;
	font-family:'Source Sans Pro',sans-serif;
}

.cTextbox {
	margin-bottom: 15px;
	display:inline-block;
	padding:0;
	border:none;
	padding:0 14px;
	height:23px;
	width:150px;
	font-size:13px;
	border:4px solid #D8D8D8;
	margin-left: 20px;
}

#changePass .deLabel{
	padding-top: 5px;
	display: inline-block;
	vertical-align: middle;
    float: left;
    clear: left;
    width: 130px;
	color: #65adef;
}
.cSubmit{
	display:block;
	padding:0;
	border:none;
	border-radius:4px;
	height:30px;
	width:100px;
/* Rectangle 13: */
	background: #25f885;
	-moz-box-shadow:2px 2px 0 0 rgba(86,86,86,0.73);
	box-shadow:2px 2px 0 0 rgba(86,86,86,0.73);
	color:#000000;
	cursor: pointer;
	font-weight: 400;
}
.cSubmit:hover {
	background:#47E48F;
}

#changePass .error{
	color:#df3333;
	font-size: 13px;
}
.bigTitle{
	font-family:'Source Sans Pro',sans-serif;
	color: #27f368;
	font-weight: 400;
	font-size: 40px;
	margin-bottom: 20px;
}
#changeMessage{
	margin-bottom: 20px;
}

