#wrapper{
	width:100%;
	height: 100%;
	min-width:1100px;
}

#sidebar {
    width: 260px;
    height: 100%;
	min-height: 700px;
    float: left;
	position: absolute;
	background: #282F37;
	-moz-box-shadow: 4px 0px 4px 0px rgba(0,0,0,0.50);
	box-shadow:      4px 0px 4px 0px rgba(0,0,0,0.50);
	z-index: 1;
}
.sidebarSection{
	width: 100%;
	height: auto;
	padding:15px 0px;
	border-bottom: 1px solid rgba(151,151,151,0.63);
}

.sidebarInner{
	margin: 0px 14px 0px 14px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	color:white;
	font-size: 12px;
	line-height: 13px;
	height: auto;
/* Label: */
}
#sectiontitle{
	font-weight: 600;
	font-size: 13px;
	color: #728292;
	line-height: 15px;
	letter-spacing: 0px;
}
.sidebarInner ul li{
	margin-bottom: 18px;
}
#infoValue{
	margin-top: -3px;
	line-height:20px;
	text-align: center;
/* 	padding-top: 2px; */
	float:right;
	border-radius: 10px;
	background: #31C4E9;
	height: 20px;
	width:130px;
	color:#000000;
	font-size:13px;
}
#infoValue2{
	float: right;
	width:130px;
	font-size: 13px;
	line-height: 15px;
}
#stockChart{
	width: 100%;
	height: 100%;
}
#main {
    margin-left: 260px;
    height: 200px;
}
#header{
	display: block;
	position: relative;
	float:left;
	height:70px;
	width:100%;
	background: #000000;
}

#content{
	display: block;
	position: relative;
	float:left;
	height:800px;
	width:100%;
	background: #3B444E;
	
}

#headerLogo{
	background:url(../res/images/logo-small@2x.png) no-repeat;
	background-size:100% 100%;
	float: left;
	width: 100px;
	height:50px;
	margin: 10px 0px 0px 15px;
}
#nav {
	float:left;
	margin-top:27px;
}
#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
	font-weight: 900;
	color:white;
}

#nav ul li{
	display: inline;
	margin-left: 40px;
	-webkit-: .1s color linear;
	-moz-: .1s color linear;
	-ms-: .1s color linear;
	-o-: .1s color linear;
	transition: .1s color linear;
}

#nav ul li:hover{
	color:#4fe0ff;
}

#user{
	float:right;
}
#name{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	color:white;
	float:left;
	line-height: 70px;
	margin-right: 10px;
	cursor: pointer;
}

#profilepic{
	background:url(../res/images/bill.jpg) no-repeat;
	background-size:100% 100%;
	width:50px;
	height: 50px;
	border-radius:50%;
	margin: 9px 10px 0px 0px;
	float:left;
	cursor: pointer;
}
#userOptions{
	display:none;
	width:152px;
	height:152px;
	background-color: white;
	position:absolute;
	margin-top: 60px;
	margin-left: -45px;
	z-index: 1;
	border: 2px solid #7f7f7f;
	border-radius: 3px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 12px;
	color:#7d7d7d;
	padding-top: 2px;
	-moz-box-shadow: 4px 0px 4px 0px rgba(0,0,0,0.50);
	box-shadow:      4px 0px 4px 0px rgba(0,0,0,0.50);
}
#userOptions ul li{
	margin-bottom:9px;
}
#userOptions ul li:last-child{
	margin-bottom:0px;
}
#userOptions .section{
	margin:10px auto;
	padding-bottom: 10px;
	padding-top: 2px;
	width:80%;
	border-bottom: 1px solid #eaeaea;
}
#userOptions .section-lastchild{
	font-size: 14px;
	margin:20px auto;
	padding-bottom: 6px;
	width:80%;
}
#userOptions a{
	-webkit-: .1s color linear;
	-moz-: .1s color linear;
	-ms-: .1s color linear;
	-o-: .1s color linear;
	transition: .1s color linear;
}
#userOptions a:hover{
	color: #161616;
}
.ovalImage{
	width:90px;
	height: 90px;
	background:url(../res/images/defaultBusiness.png) no-repeat;
	background-size:100% 100%;
	background-color: white;
	border-radius:50%;
	margin: 10px auto;
}

#sidebar h1{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 900;
	color:white;
}
#sidebar h2{
	margin-top: 5px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	color:white;
}

#graphCon{
	width:100%;
	height:50%;
}
#tableCon{
	background: white;
	width:100%;
	height:50%;
	
}
/* thead, tbody, tr, td, th { display: block; } */
#dailySales{
	width:100%;
	height: 200px;
	
}
#dailySales tr:nth-of-type(even){
	background-color: #F6F6F6;
}
#dailySales tbody{
    overflow-y: auto;
}
#dailySales tr{
	height:50px;
}
#dailySales td{
	font-family: 'Source Sans Pro', sans-serif;
	vertical-align: middle;
	text-align: center;
	color: #787878;
}
#dailySales th{
	vertical-align: middle;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 15px;
	color: #949494;
	
}
#dailySales th:nth-child(1){
	width:120px;
}
#dailySales th:nth-child(2){
	width:150px;
}
#dailySales th:nth-child(3){
	width:200px;
}

